*{
	margin: 0 auto;
	padding: 0;
}
body
{

}

.logo_img
{
	height:60px;
	width:150px;
	margin-left: 0px;
}
.nav_part
{
	display: flex;
	margin-left: 0px;
}

.nav{
	display: flex;
	padding-top: 0px;
		margin-bottom: 2px;

	align-items: center;

}
.link
{
	margin-left: 15px;
	margin-right: 15px;
	color: black;
}


.main{
	background-color: #d4d054;
	max-width: 1240px;
}
.datetimemain{
	margin-left: 400px;
	margin-right: 200px;
	margin-top: 100px;
	border: 1px black solid;
    border-radius: 10px;
    background-color: #ffa200a8;
    box-shadow: 1px 5px 4px 1.4px;
    height: 400px;



}
.datetimemain:hover
{
	   box-shadow: 1px 5px 4px 3.4px;
	   transition: 0.3s ease-in-out;
}
.lab
{
	margin: 20px;
	letter-spacing: 2px;
}
button{
	padding: 5px;
	text-decoration: none;

}
button:hover
{
	background-color: green;
	transition: 0.5s ease-in-out;
}